.projectsSection{
    background-color: rgb(12, 12, 44);
    padding: 30px;
    width: 70%;
    margin: 50px auto;
    border-radius: 10px;
}


.headTitle{
    border-bottom: 2px solid white;
    display: inline-block;
}

.projectsContainer{
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    justify-items:center;
    align-items: center;
    row-gap: 30px;
    column-gap: 30px;
}
.projects {
    width: 80%;
    padding: 10px;
    height: 400px;
    box-shadow: 1px 1px 10px rgba(0,0,0, .5);
    border-radius: 10px;
}
.projectImg{
    height: 50%;
    overflow: hidden;
    border-radius: 5px;
}
.projectImg img{
    width: 100%;
    border-radius: 5px;
    height: 100%;
    transition: all .4s ease-out;
}

.projects h1{
    color: coral;
}
.projects p{
    color: rgb(168, 168, 168);
}

.projects a{
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: all .3s ease-out;
}

.projects a:hover{
    background-color: white;
    color: black;
    transform: translate(0, -4px);
}

.projectDetail{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects:hover img{
    opacity: .4;
    transform: scale(1.1);
}

@media screen and (max-width: 700px) {
    .projectsContainer{
        grid-template-columns: repeat(1, 1fr);
    }
}