.blogsSection{
    background-color: rgb(17, 17, 44);
    width: 70%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

.blogsTitle{
    border-bottom: 3px solid white;
    display: inline-block;
}

.blogsContainer{
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
   row-gap: 30px;
   column-gap: 30px;
}
.blogs{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0, .4);
    transition: all .3s ease-out;
}
.blogs:hover{
    transform: translate(0, -5px);
}

.blogs a{
    color: white;
    transition: all .3s ease-out;
}
.blogs a:hover{
    background-color: white;
    color: black;
}