.resumeSection{
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(19, 19, 55);
}
.titleResume{
    border-bottom: 2px solid white;
    display: inline-block;
}
.profileIcons{
    transition:all .3s ease-out;
}
.profileIcons:hover{
    transform: translate(0, -4px);
}
.experienceContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-items: center;
}
.experiences:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

.downloadResumeBtn2{
    height: 40px;
    background-color: rgba(16, 13, 26, 0.9);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    transition: all ease-out .3s;
    color: white;
    margin-left: 10px;
}

.downloadResumeBtn2:hover{
    box-shadow: 1px 1px 5px rgba(61, 14, 14, 0.8);
}


@media  screen and (max-width: 700px) {
    .resumeHead{
        justify-content: space-evenly;
    }
    .profiles{
        justify-content: space-between;
        width: 50%;
    }
    .experienceContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .experiences{
        width: 90%;
    }
    .downloadResumeBtn2{
        position: relative;
        top: 40px;
        right: 100px;
    }
}