.homePage{
    width: 70%;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: rgba(73, 72, 72, 0.3) 1px 1px 10px;
    z-index: 10;
}

.homeHeader{
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(23, 62, 100);
}

.profileImage{
    width: 40%;
    position:relative;
    top: 50px;
}

.profileImage img{
    width: 60%;
    transition: .4s all ease-in-out;
    border-radius: 100%;
    animation: profileImage 2s infinite alternate;
}

@keyframes profileImage {
    from{
        transform: translate(0, -4px);
    }
    to{
        transform: translate(0, 4px);
    }
}

.profileImage img:hover{
    transform: translate(0, -5px);
    box-shadow: 1px 1px 10px rgba(73, 72, 72, 0.9);
}

.shortInfo{
    width: 60%;
}
.contactLinks {
    width: 30%;
    margin: 0 auto;
}

.contactLinks a{
    padding: 5px;
    border-radius: 20%;
    font-size: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(73, 72, 72, 0.5);
    transition: all .3s ease-out;
}

.contactLinks a:hover{
    color: white;
    background-color: rgb(20, 39, 68);
    transform: translate(0, -3px);
}

.shortDescription{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    padding: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.info h4{
    font-weight: 400;
}

.aboutShort{
    padding: 20px;
    text-align: justify;
}

.downloadResumeBtn{
    height: 40px;
    background-color: rgba(16, 13, 26, 0.9);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    transition: all ease-out .3s;
    color: white;
    margin-left: 10px;
}

.downloadResumeBtn:hover{
    box-shadow: 1px 1px 5px rgba(61, 14, 14, 0.8);
}

@media screen and (max-width: 500px) {
    .homePage{
        width: 90%;
    }
    .homeHeader{
        flex-direction: column;
        align-items: center;
    }
    .profileImage{
        width: 100%;
        top: 0%;
    }
    .shortInfo{
        width: 100%;
    }
    .contactLinks{
        width: 70%;
    }
    .shortDescription{
        flex-direction: column;
    }
    .aboutShort{
        width: 90%;
    }
    .shortContact{
        width: 100%;
    }
}

@media screen and (min-width: 501px) and (max-width: 1200px) {
    .homePage{
        width: 90%;
    }
    .homeHeader{
        flex-direction: column;
        align-items: center;
    }
    .profileImage{
        width: 50%;
        top: 0%;
    }
    .shortInfo{
        width: 100%;
    }
    .contactLinks{
        width: 30%;
    }
    .shortDescription{
        flex-direction: column;
    }
    .aboutShort{
        width: 90%;
    }
    .shortContact{
        width: 100%;
    }
}