.navLinks{
    width: 50%;
}
.navbar{
    width: 70%;
    margin: 0% auto;
}
.topLinks{
    padding: 10px;
    border-radius: 5px;
    color: rgb(18, 36, 72);
    font-weight: 500;
    transition: .3s all ease-in;
}

.topLinks:hover{
    background-color: rgba(240, 171, 178, .4);

}

@media screen and (max-width: 699px) {
    .navbar{
        width: 100%;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .topLinks{
        margin-left: 15px;
    }
}


@media screen and (min-width: 700px) and (max-width: 1200px) {
    .navbar{
        width: 100%;
        /* flex-direction: column; */
        margin-bottom: 10px;
        justify-content: space-around;
    }
    .topLinks{
        margin-left: 15px;
    }
}